.page-tools{
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    overflow: hidden;
    .comp-card{
        width: 31%;
        margin-right: 1%;
        margin: 16px 1%;
    }
}


@media screen and (max-width: 760px){
    .page-tools .comp-card{
        width: 48%;
    }
}

@media screen and (max-width: 500px){
    .page-tools .comp-card{
        width: 100%;
    }
}